<html>
<link rel="stylesheet" href="{{ static_url("style.css") }}">
<head>
<title>Tech Demo</title>
</head>
<body>
<h1>TechDemo.info</h1>
<p>This site will allow you to create an A record or CNAME to setup a temporary DNS entry for your demo.  The entries will stay alive for 7 days.  The backend is running on Python using the Tornado module. View the code for the site <a href="https://github.com/ihasn/techdemo.info">Here</a>
<p>
<a href="/aname/">Create an A Record</a>
<p>
<a href="/cname/">Create a CNAME</a>
<p>

</body>
</html>

